/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./static/scripts/block-extensions/icon/style.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.plover-icon-settings-panel__icon-picker {
  border: 1px solid #dedede;
}

.plover-icon-settings-panel__popover-content {
  min-width: 270px;
  padding: 16px;
}
.plover-icon-settings-panel__popover-content .plover-icon-settings-panel__no-result {
  text-align: center;
}

.plover-icon-settings-panel__icon-list {
  margin: 0 -16px;
  padding: 0 16px;
}
.plover-icon-settings-panel__icon-list .plover-icon-settings-panel__icon-preview {
  padding: 8px;
  border: 1px solid #dedede;
  background-color: transparent;
  height: auto;
  line-height: 0;
  cursor: pointer;
  color: currentColor;
  fill: currentColor;
  border-radius: 2px;
  transition: all ease 0.2s;
}
.plover-icon-settings-panel__icon-list .plover-icon-settings-panel__icon-preview:hover, .plover-icon-settings-panel__icon-list .plover-icon-settings-panel__icon-preview.active {
  color: #ffffff;
  border-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
  background-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
}
.plover-icon-settings-panel__icon-list .plover-icon-settings-panel__icon-preview svg {
  width: 20px;
  height: 20px;
}

.wp-block-button[class*=has-icon__] .wp-block-button__link::after {
  content: "";
}
.wp-block-button[class*=has-icon__] .wp-block-button__link::after {
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  height: var(--wp--custom--icon--size, 1em);
  width: var(--wp--custom--icon--size, 1em);
  mask-image: var(--wp--custom--icon--url);
  -webkit-mask-image: var(--wp--custom--icon--url);
}
.wp-block-button[class*=has-icon__].has-icon-position__left .wp-block-button__link::after {
  order: -1;
}

.icon-library-not-available svg,
.icon-library-not-available .wp-block-button__link::after {
  opacity: 0.25;
}
